@import url("system.css");

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    width: 100%;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 900px;
    background-color: grey;
    overflow: hidden;
}

#lists-container {
    position: relative;
    display: grid;
    grid-template-columns: 100% 100%;
    flex: 1;
    background-color: red;
    transition: transform var(--speed) ease-in-out;
}

ul {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #FFA800 var(--color-text-dark);
    


}


#tasks {
    background-color: purple;
}

#items {
    background-color: blue;
}

footer {
    flex: 1;
    max-height: 88px;
    background-color: var(--color-primary);
    padding: 10px;
    cursor: pointer;
}