:root {

    /* COLORS */
    --color-primary: #FFA800;
    --color-secondary: #BB0000;
    --color-terciary: #89BD54;
    --color-text-dark: #444444;
    --color-text-light: #EEEEEE;

    /** PADDING & MARGINS */
    --h-padding: 20px;
    --v-padding: 20px;
    --gap: 20px;

    --speed: 0.5s;
}